<div class="horizontal-container">
  <div class="header">
    <h1 class="title">{{'header.title' | translate }}</h1>
    
    <select [(ngModel)]="selectedLanguage" (change)="changeLanguage(selectedLanguage)">
      <option value="en">EN</option>
      <option value="fr">FR</option>
    </select>
    
    <img *ngIf="selectedLanguage === 'en'" src="assets/flags/en.png" alt="English Logo" class="logo">
    <img *ngIf="selectedLanguage === 'fr'" src="assets/flags/fr.png" alt="French Logo" class="logo">
  </div>
</div>
