<form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="last_name">{{'add-user.last-name' | translate }} :</label>
    <input type="text" id="last_name" formControlName="lastName">
    <div *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched">
      Le nom est requis.
    </div>
  </div>

  <div>
    <label for="first_name">{{'add-user.first_name' | translate }} :</label>
    <input type="text" id="first_name" formControlName="firstName">
    <div *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched">
      Le prénom est requis.
    </div>
  </div>

  <div>
    <label for="email">{{'add-user.email' | translate }} :</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
      Veuillez entrer une adresse email valide.
    </div>
  </div>

  <div>
    <label for="job">{{'add-user.job' | translate }} :</label>
    <input type="text" id="job" formControlName="job">
  </div>

  <div> 
    <label for="phone">{{'add-user.num' | translate }}</label>
    <input type="tel" id="phone" formControlName="phone">
  </div>

  <button type="submit" [disabled]="userForm.invalid">{{'add-user.submit' | translate }}</button>
</form>

<div *ngIf="enregistrementReussiMessage">{{ enregistrementReussiMessage }}</div>

 